<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" type="text/css" href="/uv/uv.css">
    <script src="/uv/lib/offline.js"></script>
    <script src="/uv/helpers.js"></script>

  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <link rel="stylesheet" href="assets/main.css">
  <script src="assets/js/jquery.min.js"></script>
  
</head>
