<form id="searchform">
<div class="widget">
<!--
<label for="date-from">Date from</label>
  <input type="range" min="400" max="1900" value="50" class="slider" id="date-from">
</div>

<div class="widget">
<label for="date-before">Date to</label>
  <input type="range" min="400" max="1900" value="50" class="slider" id="date-from">
</div>
-->


<div class="widget">
<label for="DateFrom">Date from</label>
<select id="DateAfter" name="DateAfter" class='filter'>
  <option></option>
  <option value="400">5th century</option>
  <option value="500">6th century</option>
  <option value="600">7th century</option>
  <option value="700">8th century</option>
  <option value="800">9th century</option>
  <option value="900">10th century</option>
  <option value="1000">11th century</option>
  <option value="1100">12th century</option>
  <option value="1200">13th century</option>
  <option value="1300">14th century</option>
  <option value="1400">15th century</option>
  <option value="1500">16th century</option>
  <option value="1600">17th century</option>
  <option value="1700">18th century</option>  
</select>
</div>
<!--
<div class="widget">
<label for="date-from">Date to</label>
<select id="DateBefore" name="DateBefore" class='filter'>
  <option></option>
  <option value="400">5th century</option>
  <option value="500">6th century</option>
  <option value="600">7th century</option>
  <option value="700">8th century</option>
  <option value="800">9th century</option>
  <option value="900">10th century</option>
  <option value="1000">11th century</option>
  <option value="1100">12th century</option>
  <option value="1200">13th century</option>
  <option value="1300">14th century</option>
  <option value="1400">15th century</option>
  <option value="1500">16th century</option>
  <option value="1600">17th century</option>
  <option value="1700">18th century</option>
</select>
</div>

-->

<div class="widget">
  <h3 style="margin-bottom:0px;margin-top:3%;">Manuscript Language</h3>
    <div id="ManuscriptLanguage"></div>
</div>

<!--
<div class="widget">
  <h3 style="margin-bottom:0px;margin-top:3%;">Geography of production</h3>
  <div class='filter-widget'>
    <div id="Language"></div>
  </div>
</div>

<div class="widget">
  <h3 style="margin-bottom:0px;margin-top:3%;">Holding institution</h3>
  <div class='filter-widget'>
    <div id="HoldingInstitution"></div>
  </div>
</div>


<div class="widget">
  <h3 style="margin-bottom:0px;margin-top:3%;">Type of manuscript (text genre)</h3>
  <div class='filter-widget'>
    <div id="Type"></div>
  </div>
</div>


<div class="widget">

<h3 style="margin-bottom:0px;margin-top:0px;">Date</h3>
<div class='filter-widget'>
<div id="Century"></div>

</div>
</div>
-->
<input type="submit"/>

</form>
</div>
