

#results-meta, #search-results, #pagination { margin:4% 0 }

#search-results a { color:black; font-weight:600  }

#search-results li {
 list-style-type:none;
 
}
#search-results li h3 {
 margin-bottom:0px;
}
#search-results-meta { font-size:0.9em; font-weight:bold; margin-bottom:2%; }

.meta {font-size:0.8em;color:#777;}



.button {
  max-width: 220px;
  background: #780900 !important;
  border: none;
  color: white !important;
}

/******* PAGINATION ********/

#pagination { margin:0px; width:100%;}


#pagination a {
 display:inline-block;
 text-align:center;
 width:20px;
 padding:0.5% 1%;
 margin:0 1% 1% 0;
 border:solid 0px #DDD;
 background: #780900 !important;
 color:white;
 text-decoration:none !important;
 }
#pagination a.selected {
 background: #777 !important;
 }

