---
layout: default
---


<div id="date"></div>
<div id="lang"></div>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  
  

  {{ content }}

  
  <ul>
{% assign c = site.data.colophons | sort: 'MS' %}
{% for colophon in c %}
  <li>
    <a href="detail?ms={{ colophon.MS }}">{{ colophon.MS }}</a> ({{ colophon.Date }}) : {{ colophon.Type }} 
  </li>
{% endfor %}
</ul>
  
  


</div>
  <script>
    var colophons = {{ site.data.colophons | jsonify }};
  </script>

  <script src="assets/js/lunr.min.js"></script>
  <script src="assets/js/script.js"></script>
